<mat-card class="mat-evalation-z8" style="width: 40%; margin: 5% auto; padding: 3rem">
  <mat-card-title style="margin-bottom: 2rem;">Registration</mat-card-title>
  <form style="width: 100%" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field style="width: 100%; margin-bottom: 1rem;" class="form-field">
        <mat-label>Full Name</mat-label>
        <input matInput type="text" formControlName="name" name="name" />
        <mat-error *ngIf="registerForm.get('name')!.hasError('required')">This field is required</mat-error>
        <mat-error *ngIf="registerForm.get('name')!.hasError('pattern')">Must be your full name</mat-error>
      </mat-form-field>
      <mat-form-field style="width: 100%; margin-bottom: 1rem;" class="form-field">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" name="email" />
      </mat-form-field>
      <mat-form-field style="width: 100%; margin-bottom: 1rem;" class="form-field">
        <mat-label>password</mat-label>
        <input matInput type="password" formControlName="password" name="password" />
        <mat-error *ngIf="registerForm.value.password">Password mast be a combination of lower-case, upper-case, numbers and at least 9 characters long</mat-error>
      </mat-form-field>
      <mat-form-field style="width: 100%; margin-bottom: 1rem;" class="form-field">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" name="confirmPassword" required pattern="{{ registerForm.value.password }}" />
        <mat-error *ngIf="registerForm.value.confirmPassword">Password do not match</mat-error>
      </mat-form-field>
      <button style="width: 50%; font-size: 1.2rem; margin-top: 1rem; padding: .3rem;" mat-stroked-button color="primary" type="submit" [disabled]="registerForm.invalid">Register<mat-icon>chevron_right</mat-icon></button>
    </div>
  </form>
</mat-card>